@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700;800&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('components/container.css');
@import url('components/card-exp.css');
@import url('components/avatar.css');
@import url('components/menu.css');
@import url('components/rollmenu.css');
@import url('components/business-card.css');

* {
  box-sizing: border-box;
}

body{
  background: #f6f9fc;
  margin: 0;
}

header{
  margin: 0 auto;
}

footer{
  font-family: 'Baloo Tamma 2', cursive;
  color: #8898AA
}